@import url('./__list/places__list.css');
@import url('./__link/place__link.css');
@import url('./__place/places__place.css');
@import url('./__header/place__header.css');
@import url('./__section/place__section.css');
@import url('./__image/place__image.css');
@import url('./__title/place__title.css');
@import url('./__website/place__website.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__description/place__description.css');
@import url('./__paragraph/place__paragraph.css');


.places {
    margin: 92px auto 0;
    max-width: 984px;
    width: 92.5%;
    /* padding-left: 0; */
}

@media screen and (max-width: 320px) {
    .places {
        width: 100%;
    }
}