@import url('./__list/places__list.css');

.places {
    margin: 92px auto 0;
    max-width: 984px;
    width: 92.5%;
    /* padding-left: 0; */
    /* align-items: center; */
}

@media screen and (max-width: 320px) {
    .places {
        width: 100%;
    }
}