@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
/* @import url('./__background/cover__background.css'); */
@import url('./__description/cover__description.css');
@import url('./__overlay/cover__overlay.css');
@import url('./__container/cover__container.css');

.cover{
    margin: 92px auto 0 auto; 
    overflow: hidden;
    max-width: 1184px;
/*  width: 100%; 
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; */ 
}
.cover:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

@media screen and (max-width: 1024px) {
    .cover {
        width:100%;
    }
}
