.cover__title {
    max-width: 656px;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    align-items: center;
    z-index: 1;
    color: #FFFDFD;
    text-decoration: none;
/*  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; */
}

@media screen and (max-width: 320px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }
}