@import url('./__link/place__link.css');
/* @import url('./__place/places__place.css'); */
/* @import url('./__header/place__header.css'); */
/* @import url('./__section/place__section.css'); */
@import url('./__image/place__image.css');
@import url('./__title/place__title.css');
@import url('./__website/place__website.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__description/place__description.css');
@import url('./__paragraph/place__paragraph.css');

.place {
    margin: 0px auto 80px auto;
    display: grid;
    /* grid-template-columns: 460px auto; */
    grid-template-columns: 460px 484px;
    grid-template-rows: auto auto;
    grid-gap: 40px;
    row-gap: 48px;
    margin-bottom: 72px;
}